.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  height: 10%;
  background-color: #84a98c;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header-text {
  font-size: xx-large;
  font-weight: bold;
  color: #354f52;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 40%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  margin: 10px 0px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  background-color: #52796f;
  margin: 10px 20px;
  padding: 5px;
  border-radius: 7px;
}

.product-card h4,
.product-card h3,
.product-card p1,
.product-card span {
  margin: 2px 0;
}
